html{
    scroll-behavior: smooth;
}


*{
    margin: 0;
    left: 0;
}


body{
    background-color: #050506;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}


.background-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.3;
}


.hamburger{
    display: none;
}


.github-username{
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
    color: aliceblue;
    text-shadow: 2px 2px 4px #848282;
}


nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #050506;
    border-bottom: 1px solid #222222;
    z-index: 100;
}


.navbar{
    display: flex;  
}


.navbar-content{
    display: flex;
    width: 69%;
    margin-left: auto;
}


.navbar-content a{
    display: flex;
    text-decoration: none;
    color: #babfc4;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.2px;
    padding: 15px;
    margin: auto;
    border-radius: 8px;
}


.navbar-content a:hover{
    background-color: #022624;
}


#hire-me{
    justify-content: center;
    background-color: azure;
    color: black;
    text-shadow: 2px 2px 4px #848282;
}


#hire-me:hover{
    color: #1a1919;
    transition: transform 0.1s ease-in-out;
    transform: scale(1.05);
}


.footer{
    background-color: #050506;
    border-top: 1px solid #222222;
    width: 100%;
    left: 0;
}


.footer-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.footer-icons img{
    width: 40px;
    border-radius: 40%;
    padding: 50px 0 50px 0;
}


.copyright{
    color: #babfc4;
    text-align: center;
}


.copyright p{
    margin-top: 0;
    padding: 0 0 50px 0;
}


.copyright p{
    margin-top: 0;
    padding: 0 0 50px 0;
}


.heading{
    margin: auto;
    margin-top: 110px;
    margin-bottom: 50px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}


.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}


.card{
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border:  1px solid #5d5d60;
}


.flex{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 95%;
}


.company{
    color: #ffffff;
    font-weight: bold;
    font-size: 40px;
}


.tenure{
    font-size: 18px;
}


.details{
    font-size: 20px;
    margin-bottom: 10px;
}


.list{
    color: #7f7f83;
    margin-top: 20px;
    margin-left: 60px;
}


.link{
    text-decoration: none;
    color: #6c56fa;
}


/* For Tablets */
@media (max-width: 768px) {
    .navbar{
        display: flex;
    }


    .hamburger{
        display: block;
        margin: auto;
        transform: scale(1.7);
    }


    .github-username{
        width: 70%;
        font-size: 30px;
        padding: 20px;
    }


    .navbar-content{
        display: none;
        flex-direction: column;
    }


    .navbar-content.active{
        display: flex;
    }


    .heading{
        width: 70%;
    }
    

    .flex{
        display: grid;
        grid-template-columns: repeat((1, 1fr));
    }


    .company{
        font-size: 30px;
    }


    .tenure{
        font-size: 16px;
    }


    .details{
        font-size: 18px;
    }


    .list{
        margin-top: 30px;
        margin-left: auto;
    }
}